﻿
@{ ViewBag.Title = "Home";
    Layout = null;  }
@Html.Partial("_Header")

<!-- banner-section start  -->
<section class="banner-section bg_img" data-background="~/assets/images/banner.jpg">
    <div class="container">
        
        <div class="row align-items-center">
            <div class="col-md-9">
                <div class="banner-content">
                    <h1 class="title">Welcome ...</h1>

                </div>
            </div>
            </div>
        <div class="row align-items-center">
            <div class="col-md-4">
                <div class="banner-img">
                    <img src="~/Images/pexels-ready-made-3850673.jpg" alt="image">
                </div>

            </div>
            <div class="col-md-4">
                <div class="banner-img">
                    <img src="~/Images/pexels-pixabay-159211.jpg" alt="image">
                </div>

            </div>
            <div class="col-md-4">
                <div class="banner-img">
                    <img src="~/Images/pexels-pixabay-208518.jpg" alt="image">
                </div>
            </div>
            </div>
        </div>
</section>
<!-- banner-section end  -->
<section class="search-section pt-120 pb-120">
    <div class="container">
        <div class="jumbotron">
            <h1>Medicine Monitoring</h1>
            <p class="lead">
                Welcome to MedicineMonitoring.com! India's Leading Online Pharmacy!
                With a dynamic legacy of over 100 years in the pharma business, it comes as no surprise that Medicine Monitor is the first choice of over 4 million+ satisfied customers when it comes to an online pharmacy in India.
                MedicineMonitoring.com has a pan India presence as we deliver health care essentials to every state in the country. We take your health seriously at Netmeds.com.
                Be it purchasing medicines online, lab tests or online doctor consultations, we've got it all covered for our customers!
            </p>

        </div>

        </div>
    </section>
        @Html.Partial("_Footer")
