﻿@model MedicineMonitoring.Models.User

@{ ViewBag.Title = "RequestDetails";
    Layout = null; }

@Html.Partial("_Header")


<!-- banner-section start  -->
<section class="banner-section bg_img" data-background="~/assets/images/banner.jpg">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-9">
                <div class="banner-content">
                    <h1 class="title">Request Id Details</h1>

                    <p></p>
                </div>
            </div>
            <div class="col-md-5">

            </div>
        </div>
    </div>
</section>
<!-- banner-section end  -->
<!-- search-section start -->
<section class="search-section pt-120 pb-120">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="car-search-area">
                    <center>
                        @using (Html.BeginForm("RequestDetails", "Admin"))
                        {

                    @Html.AntiForgeryToken()
                                    <form class="car-search-form">
                                        <div style="align-content:center">

                                            <table class="table">



                                                <tr>
                                                    <td>
                                                        @Html.DisplayNameFor(model => model.FirstName)
                                                    </td>
                                                    <td>
                                                        @Html.TextBoxFor(modelItem => Model.FirstName, new { @readonly = "true" })
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        @Html.DisplayNameFor(model => model.LastName)
                                                    </td>

                                                    <td>
                                                        @Html.TextBoxFor(modelItem => Model.LastName, new { @readonly = "true" })
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        @Html.DisplayNameFor(model => model.DOB)
                                                    </td>
                                                    <td>
                                                        @Html.TextBoxFor(modelItem => Model.DOB, new { @readonly = "true" })
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        @Html.DisplayNameFor(model => model.Gender)
                                                    </td>

                                                    <td>
                                                        @Html.TextBoxFor(modelItem => Model.Gender, new { @readonly = "true" })
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        @Html.DisplayNameFor(model => model.UserId)
                                                    </td>
                                                    <td>
                                                        @Html.TextBoxFor(modelItem => Model.UserId, new { @readonly = "true" })
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        @Html.DisplayNameFor(model => model.Email)
                                                    </td>
                                                    <td>
                                                        @Html.TextBoxFor(modelItem => Model.Email, new { @readonly = "true" })
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        @Html.DisplayNameFor(model => model.ContactNo)
                                                    </td>

                                                    <td>
                                                        @Html.TextBoxFor(modelItem => Model.ContactNo, new { @readonly = "true" })
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        @Html.DisplayNameFor(model => model.BranchId)
                                                    </td>
                                                    <td>
                                                        @Html.TextBoxFor(modelItem => Model.BranchId, new { @readonly = "true" })
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        @Html.DisplayNameFor(model => model.Branch.BranchName)
                                                    </td>

                                                    <td>
                                                        @Html.TextBoxFor(modelItem => Model.Branch.BranchName, new { @readonly = "true" })
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        @Html.DisplayNameFor(model => model.Branch.BranchAddress)
                                                    </td>
                                                    <td>
                                                        @Html.TextBoxFor(modelItem => Model.Branch.BranchAddress, new { @readonly = "true" })
                                                    </td>
                                                </tr>

                                                <tr>

                                                    <td>
                                                        <div class=" form-group col-md-8">
                                                            <button type="submit" class="cmn-btn">Approve</button>
                                                        </div>
                                                        <div class=" form-group col-md-8">
                                                            @Html.ActionLink("Back to Home", "Home")
                                                        </div>

                                                    </td>

                                                </tr>

                                            </table>
                                        </div>
                                    </form>
                        }
                                                </center>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- search-section end -->

@Html.Partial("_Footer")

