﻿<!-- footer-section start -->
<footer class="footer-section">
    <div class="footer-top pt-120 pb-120">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-sm-8">
                    <div class="footer-widget widget-about">
                        <div class="widget-about-content">
                            <a href="#0" class="footer-logo"><img src="~/assets/images/plogo.jfif" alt="logo"width="60" height="30"></a>
                            <p> Best site to order your medicine without facing any difficulty </p>
                            <ul class="social-links">
                                <li><a href="#0"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#0"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#0"><i class="fa fa-linkedin"></i></a></li>
                                <li><a href="#0"><i class="fa fa-google-plus"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-lg-2 col-sm-4">
                    <div class="footer-widget widget-menu">
                        <h4 class="widget-title">useful link</h4>
                        <ul>
                            <li><a href="#0">about</a></li>

                            <li><a href="#0">Home</a></li>
                            <li><a href="#0">Feedback</a></li>

                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-8">
                    <div class="footer-widget widget-address">
                        <h4 class="widget-title">contact with us</h4>
                        <ul>
                            <li>
                                <i class="fa fa-map-marker"></i>
                                <span>Indore, Madhya Pradesh, India</span>
                            </li>
                            <li>
                                <i class="fa fa-envelope"></i>
                                <span>www.medicinemonitorinfo2457@gmail.com www.oursupport/info@gmail.com</span>
                            </li>
                            <li>
                                <i class="fa fa-phone-square"></i>
                                <span>+91-014578541-09 , +91-85424-542-254 +91-47859-4541</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-sm-6">
                    
                </div>
                <div class="col-sm-6">
                    <ul class="payment-method d-flex justify-content-end">
                        <li>We accept</li>
                        <li><img src="~/assets/images/money-method/1.png" alt="image"></li>
                        <li><img src="~/assets/images/money-method/2.png" alt="image"></li>
                        <li><img src="~/assets/images/money-method/3.png" alt="image"></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- footer-section end -->
<!-- scroll-to-top start -->
<div class="scroll-to-top">
    <span class="scroll-icon">
        <i class="fa fa-rocket"></i>
    </span>
</div>
<!-- scroll-to-top end -->
<!-- jquery js link -->
<script src="~/assets/js/jquery-3.3.1.min.js"></script>
<!-- jquery migrate js link -->
<script src="~/assets/js/jquery-migrate-3.0.0.js"></script>
<!-- bootstrap js link -->
<script src="~/assets/js/bootstrap.min.js"></script>
<!-- lightcase js link -->
<script src="~/assets/js/lightcase.js"></script>
<!-- wow js link -->
<script src="~/assets/js/wow.min.js"></script>
<!-- nice select js link -->
<script src="~/assets/js/jquery.nice-select.min.js"></script>
<!-- datepicker js link -->
<script src="~/assets/js/datepicker.min.js"></script>
<script src="~/assets/js/datepicker.en.js"></script>
<!-- wickedpicker js link -->
<script src="~/assets/js/wickedpicker.min.js"></script>
<!-- owl carousel js link -->
<script src="~/assets/js/owl.carousel.min.js"></script>
<!-- jquery ui js link -->
<script src="~/assets/js/jquery-ui.min.js"></script>
<!-- main js link -->
<script src="~/assets/js/main.js"></script>

