﻿

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Medicine Monitoring System</title>
    <!-- site favicon -->
    <link rel="shortcut icon" type="image/png" href="~/assets/images/favicon.jpg" />
    <!-- fontawesome css link -->
    <link rel="stylesheet" href="~/assets/css/fontawesome.min.css">
    <!-- bootstrap css link -->
    <link rel="stylesheet" href="~/assets/css/bootstrap.min.css">
    <!-- lightcase css link -->
    <link rel="stylesheet" href="~/assets/css/lightcase.css">
    <!-- animate css link -->
    <link rel="stylesheet" href="~/assets/css/animate.css">
    <!-- nice select css link -->
    <link rel="stylesheet" href="~/assets/css/nice-select.css">
    <!-- datepicker css link -->
    <link rel="stylesheet" href="~/assets/css/datepicker.min.css">
    <!-- wickedpicker css link -->
    <link rel="stylesheet" href="~/assets/css/wickedpicker.min.css">
    <!-- jquery ui css link -->
    <link rel="stylesheet" href="~/assets/css/jquery-ui.min.css">
    <!-- owl carousel css link -->
    <link rel="stylesheet" href="~/assets/css/owl.carousel.min.css">
    <!-- main style css link -->
    <link rel="stylesheet" href="~/assets/css/main.css">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>



<!-- preloader start -->
<div id="preloader"></div>
<!-- preloader end -->
<!--  header-section start  -->
<header class="header-section" style="background-color:black">

    <div class="header-top">

        <div class="header-bottom">
            <div class="container">
                <nav class="navbar navbar-expand-lg p-0">
                    <a class="site-logo site-title" href="#0"><img src="~/assets/images/plogo.jfif" alt="site-logo" width="60" height="40"><span class="logo-icon"><i class="flaticon-fire"></i></span></a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="menu-toggle"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav main-menu mr-auto">
                            @{ if (User.IsInRole("Admin"))
                                {
                                    <li>@Html.ActionLink("Home", "Home", "Admin")</li>
                                    <li class="menu_has_children">
                                        <a href="#0">Branch</a>
                                        <ul class="sub-menu">
                                            <li>@Html.ActionLink("Request", "Request", "Admin")</li>
                                            <li>@Html.ActionLink("Stock Information", "BranchStock", "Medicine")</li>
                                        </ul>
                                    </li>
                                    <li class="menu_has_children">
                                        <a href="#0">Medicine</a>
                                        <ul class="sub-menu">
                                            <li>@Html.ActionLink("Medicine Information", "MedList", "Medicine")</li>
                                            <li>@Html.ActionLink("Stock Information", "StockList", "Medicine")</li>
                                            <li>@Html.ActionLink("Report Details", "GenenerateReport", "Medicine")</li>
                                            <li>@Html.ActionLink("Request Details", "MedicineRequest", "MedicineRequest")</li>

                                        </ul>
                                    </li>

                                    <li>@Html.ActionLink("LogOut", "Logout", "Account")</li>
                                }
                                else if (User.IsInRole("BranchAdmin"))
                                {
                                    <li>@Html.ActionLink("Home", "Home", "Admin")</li>
                                    <li class="menu_has_children">
                                        <a href="#0">Medicine</a>
                                        <ul class="sub-menu">
                                            <li>@Html.ActionLink("Medicine Information", "BranchMedList", "Medicine")</li>
                                            <li>@Html.ActionLink("Stock Information", "BranchStockList", "Medicine")</li>
                                            <li>@Html.ActionLink("Status", "MedicineStatus", "Medicine")</li>

                                        </ul>
                                    </li>
                                    <li class="menu_has_children">
                                        <a href="#0">Medicine Request</a>
                                        <ul class="sub-menu">
                                            <li>@Html.ActionLink("Raise Request", "RaiseMedicineRequestList", "MedicineRequest")</li>
                                            <li>@Html.ActionLink("Request List", "BranchMedicineRequestList", "MedicineRequest")</li>
                                          
                                        </ul>
                                    </li>
                                    <li>@Html.ActionLink("Report Details", "BranchAdminReport", "Medicine")</li>

                                    <li>@Html.ActionLink("LogOut", "Logout", "Account")</li>
                                }
                                else if (User.IsInRole("Customer"))
                                {

                                    <li>@Html.ActionLink("Search Your Medicine", "SearchMedicine", "Customer")</li>
                                    <li>@Html.ActionLink("LogOut", "Logout", "Account")</li>
                                }
                                else
                                {

                                    <li> @Html.ActionLink("Register", "Index", "Home") </li>
                                    <li> @Html.ActionLink("SignIn", "Login", "Account") </li>
                                } }
                        </ul>
</div>
                </nav>
            </div>
        </div><!-- header-bottom end -->
      </div>
</header>