﻿@model MedicineMonitoring.Models.Cart

@{ ViewBag.Title = "AddToCart";
    Layout = null; }

@Html.Partial("_Header")
<!-- banner-section start  -->
<section class="banner-section bg_img" data-background="~/assets/images/banner.jpg">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-9">
                <div class="banner-content">
                    <h1 class="title">Add To Cart</h1>

                    <p></p>
                </div>
            </div>
            <div class="col-md-5">

            </div>
        </div>
    </div>
</section>
<!-- banner-section end  -->
@using (Html.BeginForm())
{
@Html.AntiForgeryToken() <!-- search-section start -->
                <section class="search-section pt-120 pb-120">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="car-search-area">


                                    <form class="car-search-form">
                                        <div class="row">
                                            <div class="col-lg-10 form-group">
                                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                                @Html.LabelFor(model => model.Quantity, htmlAttributes: new { @class = "control-label col-md-4" })
                                                <div class="col-md-5">
                                                    @Html.EditorFor(model => model.Quantity, new { htmlAttributes = new { @class = "form-control" } })
                                                    @Html.ValidationMessageFor(model => model.Quantity, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>


                                        <div class=" form-group col-md-8">
                                            <button type="submit" class="cmn-btn">Submit</button>
                                        </div>
                                        <div>
                                            @Html.ActionLink("Back to List", "SearchMedicine")
                                        </div>

                                    </form>

                                </div>
                            </div>
                        </div>
                    </div>
                </section> <!-- search-section end -->}

@Html.Partial("_Footer")


