﻿@model IEnumerable<MedicineMonitoring.Models.Cart>

@{ ViewBag.Title = "CartList";
    Layout = null; }

@Html.Partial("_Header")
<!-- banner-section start  -->
<section class="banner-section bg_img" data-background="~/assets/images/banner.jpg">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-9">
                <div class="banner-content">
                    <h1 class="title">Shopping Cart</h1>
                    <p></p>

                </div>
            </div>
            <div class="col-md-5">

            </div>
        </div>
    </div>
</section>
<!-- banner-section end  -->

<section class="search-section pt-120 pb-120">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="car-search-area">


                    <form class="car-search-form">
                        <div class="row">
                            <table class="table">
                                <tr>

                                    <th>
                                        @Html.DisplayNameFor(model => model.MedName)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Cost)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Quantity)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Subtotal)
                                    </th>
                                    <th></th>
                                </tr>
                                @{ string UserId = "";}
                                @foreach (var item in Model)
                                {
                    <tr>



                        <td>
                            @Html.DisplayFor(modelItem => item.MedName)
                            @{ UserId = item.UserId; }
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Cost)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Quantity)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Subtotal)
                        </td>
                        <td>

                         
                            <a href='@Url.Action("DeleteCart", "Customer", new { id = item.CartId })' class="cmn-btn">Delete</a>
                        </td>
                    </tr>
}

                            </table>
                            </div>
                    </form>
                    <div>
                    
                        <a href='@Url.Action("SearchMedicine", "Customer")' class="cmn-btn">Back to Search List</a> <a href='@Url.Action("AddToOrder", "Customer",new { id=UserId })' class="cmn-btn pull-right">Order</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> <!-- search-section end -->

@Html.Partial("_Footer")