﻿@model MedicineMonitoring.Models.Medicine

@{ ViewBag.Title = "AddMedicine";
    Layout = null; }

@Html.Partial("_Header")

<!-- banner-section start  -->
<section class="banner-section bg_img" data-background="~/assets/images/banner.jpg">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-9">
                <div class="banner-content">
                    <h1 class="title">Add Medicine Details</h1>

                    <p></p>
                </div>
            </div>
            <div class="col-md-5">

            </div>
        </div>
    </div>
</section>
<!-- banner-section end  -->
<section class="search-section pt-120 pb-120">
    <!-- banner-section end  -->
    <!-- search-section start -->

    <div class="container">
       
                        <div class="row">
                            <div class="col-lg-12">
                             
                                <div class="car-search-area">

                                    @{ if (ViewBag.Message != null)
                                        {
                            <div>

                                <h4>@ViewBag.Message</h4>
                                
                            </div> }
                        else
                        {
                            using (Html.BeginForm())
                            {
                            @Html.AntiForgeryToken()

                                                <form class="car-search-form">
                                                    <div class="row">
                                                        <div class="col-lg-4 form-group">
                                                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                                                            @Html.LabelFor(model => model.MedName, htmlAttributes: new { @class = "control-label col-md-6" })

                                                            @Html.EditorFor(model => model.MedName, new { htmlAttributes = new { @class = "form-control" } })
                                                            @Html.ValidationMessageFor(model => model.MedName, "", new { @class = "text-danger" })

                                                        </div>

                                                        <div class="form-group col-lg-4">
                                                            @Html.LabelFor(model => model.Manufacturer, htmlAttributes: new { @class = "control-label col-md-6" })

                                                            @Html.EditorFor(model => model.Manufacturer, new { htmlAttributes = new { @class = "form-control" } })
                                                            @Html.ValidationMessageFor(model => model.Manufacturer, "", new { @class = "text-danger" })

                                                        </div>



                                                        <div class="col-lg-4 form-group">
                                                            @Html.LabelFor(model => model.Disease, htmlAttributes: new { @class = "control-label col-md-6" })

                                                            @Html.EditorFor(model => model.Disease, new { htmlAttributes = new { @class = "form-control" } })
                                                            @Html.ValidationMessageFor(model => model.Disease, "", new { @class = "text-danger" })

                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="form-group col-md-4">
                                                            @Html.LabelFor(model => model.ManufactureDate, htmlAttributes: new { @class = "control-label col-md-8" })

                                                            @Html.EditorFor(model => model.ManufactureDate, new { htmlAttributes = new { @class = "form-control" } })
                                                            @Html.ValidationMessageFor(model => model.ManufactureDate, "", new { @class = "text-danger" })

                                                        </div>



                                                        <div class="col-lg-4 form-group">
                                                            @Html.LabelFor(model => model.BranchAvaliable, htmlAttributes: new { @class = "control-label col-md-2" })

                                                            @Html.DropDownListFor(model => model.BranchAvaliable, new SelectList(ViewBag.BrachList, "BranchName"), new { htmlAttributes = new { @class = "form-control" } })
                                                            @Html.ValidationMessageFor(model => model.BranchAvaliable, "", new { @class = "text-danger" })

                                                        </div>

                                                        <div class="form-group col-md-4">
                                                            @Html.LabelFor(model => model.Address, htmlAttributes: new { @class = "control-label col-md-2" })

                                                            @Html.DropDownListFor(model => model.Address, new SelectList(ViewBag.BranchAddress, "Address"), new { htmlAttributes = new { @class = "form-control" } })
                                                            @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })

                                                        </div>
                                                    </div>

                                                    <div class="row">
                                                        <div class="col-lg-4 form-group">
                                                            @Html.LabelFor(model => model.ExpiryDate, htmlAttributes: new { @class = "control-label col-md-8" })

                                                            @Html.EditorFor(model => model.ExpiryDate, new { htmlAttributes = new { @class = "form-control" } })
                                                            @Html.ValidationMessageFor(model => model.ExpiryDate, "", new { @class = "text-danger" })

                                                        </div>

                                                        <div class="form-group col-md-4">
                                                            @Html.LabelFor(model => model.cost, htmlAttributes: new { @class = "control-label col-md-2" })

                                                            @Html.EditorFor(model => model.cost, new { htmlAttributes = new { @class = "form-control" } })
                                                            @Html.ValidationMessageFor(model => model.cost, "", new { @class = "text-danger" })

                                                        </div>

                                                        <div class="col-lg-4 form-group">
                                                            @Html.LabelFor(model => model.quantity, htmlAttributes: new { @class = "control-label col-md-2" })

                                                            @Html.EditorFor(model => model.quantity, new { htmlAttributes = new { @class = "form-control" } })
                                                            @Html.ValidationMessageFor(model => model.quantity, "", new { @class = "text-danger" })

                                                        </div>
                                                    </div>

                                                    <div class=" form-group col-md-8">
                                                        <button type="submit" class="cmn-btn">Submit</button>
                                                    </div>

                                                    <br>
                                                   


                                                </form> }
                                        } }
                                </div>
                            </div>
                        </div> 
    </div>
                                                    </section> <!-- search-section end -->
                        

@Html.Partial("_Footer")

