﻿
    @{
        ViewBag.Title = "BranchAdminReport";
        Layout = null; }

    @Html.Partial("_Header")
    <!-- banner-section start  -->
    <section class="banner-section bg_img" data-background="~/assets/images/banner.jpg">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-9">
                    <div class="banner-content">
                        <h1 class="title">Medicine Report</h1>
                        <p></p>

                    </div>
                </div>
                <div class="col-md-5">

                </div>
            </div>
        </div>
    </section>
    <!-- banner-section end  -->

    <section class="search-section pt-120 pb-120">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="car-search-area">



                        <form class="car-search-form">




                            <div class="row">
                                <table class="table">
                                    <tr>

                                        <th>
                                            @Html.ActionLink("Stocks", "StocksReport", new { id = ViewBag.BranchId })
                                        </th>
                                    </tr>
                                    <tr>
                                        <th>
                                            @Html.ActionLink("Brands", "BrandsReport", new { id = ViewBag.BranchId })
                                        </th>
                                    </tr>
                                    <tr>
                                        <th>
                                            @Html.ActionLink("Illness", "IllnesseReport", new { id = ViewBag.BranchId })
                                        </th>
                                    </tr>
                                    <tr>
                                        <th>
                                            @Html.ActionLink("Sales", "SaleReport", new { id = ViewBag.BranchId })
                                        </th>
                                    </tr>
                                    <tr>
                                        <th>
                                            @Html.ActionLink("Expirydate", "ExperiDateReport", new { id = ViewBag.BranchId })
                                        </th>
                                    </tr>



                                </table>
                            </div>
                        </form>
                       

                    </div>
                </div>
            </div>
        </div>
    </section> <!-- search-section end -->

    @Html.Partial("_Footer")
