﻿@model IEnumerable<MedicineMonitoring.Models.Branch>

@{ ViewBag.Title = "BranchStock";
    Layout = null;}

@Html.Partial("_Header")
<h2>Branch Stock Details</h2>

<section class="banner-section bg_img" data-background="~/assets/images/banner.jpg">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-9">
                <div class="banner-content">
                    <h1 class="title">  Branch Stock</h1>

                    <p></p>
                </div>
            </div>
            <div class="col-md-5">

            </div>
        </div>
    </div>
</section>
<!-- banner-section end  -->

<section class="search-section pt-120 pb-120">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="car-search-area">
                   

                    <form class="car-search-form">
                        <div class="row">
                            <table class="table">
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.BranchId)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.BranchName)
                                    </th>

                                    <th></th>
                                </tr>

                                @foreach (var item in Model)
                                {
                    <tr>
                        <td>
                            @Html.ActionLink(item.BranchId, "ViewEachBranchStock", new { id = item.BranchId })
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.BranchName)
                        </td>

                    </tr>
}

                            </table>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</section> <!-- search-section end -->

@Html.Partial("_Footer")
