﻿@model MedicineMonitoring.Models.Medicine

@{ ViewBag.Title = "Details";
    Layout = null; }

@Html.Partial("_Header")
<!-- banner-section start  -->
<section class="banner-section bg_img" data-background="~/assets/images/banner.jpg">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-7">
                <div class="banner-content">
                    <h1 class="title">Medicine Details</h1>

                    <p></p>
                </div>
            </div>
            <div class="col-md-5">

            </div>
        </div>
    </div>
</section>
<!-- banner-section end  -->
<!-- search-section start -->
<section class="search-section pt-120 pb-120">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="car-search-area">


                    <form class="car-search-form">
                        <div class="row">
                            <dl class="dl-horizontal">
                                <dt>
                                    @Html.DisplayNameFor(model => model.MedName)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.MedName)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.Manufacturer)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.Manufacturer)
                                </dd>
                                <dt>
                                    @Html.DisplayNameFor(model => model.BranchAvaliable)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.BranchAvaliable)
                                </dd>
                                <dt>
                                    @Html.DisplayNameFor(model => model.Address)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.Address)
                                </dd>
                                <dt>
                                    @Html.DisplayNameFor(model => model.Disease)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.Disease)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.ManufactureDate)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.ManufactureDate)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.ExpiryDate)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.ExpiryDate)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.cost)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.cost)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.quantity)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.quantity)
                                </dd>

                            </dl>
                        </div>
                        <p>
                            @Html.ActionLink("Edit", "Edit", new { id = Model.MedId }) 
                           
                        </p>

                    </form>

                </div>
            </div>
        </div>
    </div>
</section> <!-- search-section end -->

@Html.Partial("_Footer")