﻿@model MedicineMonitoring.Models.Medicine

@{ ViewBag.Title = "EditStock";
    Layout = null; }

@Html.Partial("_Header")
<!-- banner-section start  -->
<section class="banner-section bg_img" data-background="~/assets/images/banner.jpg">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-9">
                <div class="banner-content">
                    <h1 class="title">Update Stock Details</h1>

                    <p></p>
                </div>
            </div>
            <div class="col-md-5">

            </div>
        </div>
    </div>
</section>
<!-- banner-section end  -->
<section class="search-section pt-120 pb-120">
    <!-- banner-section end  -->
    <!-- search-section start -->

    <div class="container">
       
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="car-search-area">
                                    @{ if (ViewBag.Message != null)
                                        {
                                <div>

                                    <h4>@ViewBag.Message</h4>
                                   
                                </div> }
                            else
                            {
                                using (Html.BeginForm())
                                {
                                @Html.AntiForgeryToken()

                                                    <form class="car-search-form">

                                                        <div class="row">
                                                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                                            @Html.HiddenFor(model => model.MedId)
                                                            @Html.HiddenFor(model => model.Disease)
                                                            @Html.HiddenFor(model => model.Manufacturer)
                                                            @Html.HiddenFor(model => model.BranchAvaliable)
                                                            @Html.HiddenFor(model => model.Address)
                                                            @Html.HiddenFor(model => model.ManufactureDate)
                                                            @Html.HiddenFor(model => model.ExpiryDate)
                                                            @Html.HiddenFor(model => model.cost)

                                                            <div class="col-lg-10 form-group">
                                                                @Html.LabelFor(model => model.MedName, htmlAttributes: new { @class = "control-label col-md-6" })
                                                                <div class="col-md-5">
                                                                    @Html.EditorFor(model => model.MedName, new { htmlAttributes = new { @class = "form-control" } })
                                                                    @Html.ValidationMessageFor(model => model.MedName, "", new { @class = "text-danger" })
                                                                </div>
                                                            </div>



                                                            <div class="col-lg-10 form-group">
                                                                @Html.LabelFor(model => model.quantity, htmlAttributes: new { @class = "control-label col-md-2" })
                                                                <div class="col-md-5">
                                                                    @Html.EditorFor(model => model.quantity, new { htmlAttributes = new { @class = "form-control" } })
                                                                    @Html.ValidationMessageFor(model => model.quantity, "", new { @class = "text-danger" })
                                                                </div>
                                                            </div>


                                                            <div class=" form-group col-md-8">
                                                                <button type="submit" class="cmn-btn">Save</button>
                                                                
                                                            </div>
                                                            

                                                    </form> }
                                                                } }
                                </div>
                            </div>
                        </div> 
    </div>

                                                    </section> <!-- search-section end --> 
                         


@Html.Partial("_Footer")
