﻿@model MedicineMonitoring.Models.Branch
@{
    ViewBag.Title = "GenenerateReport";
    Layout = null;}





@Html.Partial("_Header")

<!-- banner-section start  -->
<section class="banner-section bg_img" data-background="~/assets/images/banner.jpg">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-7">
                <div class="banner-content">
                    <h1 class="title">Medicine Stock Report</h1>
                    <p></p>

                </div>
            </div>

        </div>
    </div>
</section>
<!-- banner-section end  -->


@using (Html.BeginForm("SalesReport", "Medicine"))
{
    @Html.AntiForgeryToken() <!-- search-section start -->
    <section class="search-section pt-120 pb-120">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="car-search-area">
                        <center>
                            <h3 class="title">Select Branch Id</h3>
                            <form class="car-search-form">
                                <div style="align-content:center">


                                    <div class="row">
                                        <div class="form-group col-md-12">



                                            <div class="col-md-3">
                                                @Html.DropDownListFor(model => model.BranchId, new SelectList(ViewBag.BranchList, "BranchId"), new { htmlAttributes = new { @class = "form-control" } })

                                                @Html.ValidationMessageFor(model => model.BranchId, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>

                                    <div class=" form-group col-md-8">
                                        <button type="submit" class="cmn-btn">Generate</button>
                                    </div>

                                </div>
                            </form>
                        </center>
                    </div>
                </div>
            </div>
        </div>
    </section> <!-- search-section end -->}

@Html.Partial("_Footer")


