﻿@model IEnumerable<MedicineMonitoring.Models.Medicine>
@{
    ViewBag.Title = "MedicineStatus";
    Layout = null; }

@Html.Partial("_Header")
<!-- banner-section start  -->
<section class="banner-section bg_img" data-background="~/assets/images/banner.jpg">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-9">
                <div class="banner-content">
                    <h1 class="title text-danger"> Medicine Status</h1>

                    <p></p>
                </div>
            </div>
            <div class="col-md-5">

            </div>
        </div>
    </div>
</section>
<!-- banner-section end  -->

<section class="search-section pt-120 pb-120">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="car-search-area">


                    <form class="car-search-form">
                        <div class="row">



                            <table class="table text-danger">
                                <tr>
                                    <td>
                                        @Html.DisplayNameFor(model => model.MedName)
                                    </td>

                                    <td>
                                        @Html.DisplayNameFor(model => model.quantity)
                                    </td>
                                    <th></th>
                                </tr>

                                @{ foreach (var item in Model)
                                    {
                                        if (item.quantity < 5)
                                        {
                                    <tr>
                                        <th>
                                            @Html.DisplayFor(modelItem => item.MedName)
                                        </th>

                                        <th>
                                            @Html.DisplayFor(modelItem => item.quantity)
                                        </th>
                                       
                                    </tr>
                                            }
                                        }
                                    }
                            </table>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</section> <!-- search-section end -->

@Html.Partial("_Footer")