﻿@model IEnumerable<MedicineMonitoring.Models.OrderItem>

@{
    ViewBag.Title = "SaleReport";
    Layout = null; }

@Html.Partial("_Header")
<!-- banner-section start  -->
<section class="banner-section bg_img" data-background="~/assets/images/banner.jpg">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-9">
                <div class="banner-content">
                    <h1 class="title">Sales Report</h1>
                   <p></p>

                </div>
            </div>
            <div class="col-md-5">

            </div>
        </div>
    </div>
</section>
<!-- banner-section end  -->

<section class="search-section pt-120 pb-120">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="car-search-area">



                    <form class="car-search-form">




                        <div class="row">
                            <table class="table">
                                <tr>
                                    <th>
                                        @Html.DisplayName("Sales Id")
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.MedId)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.MedicineName)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Price)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Quantity)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Total)
                                    </th>
                                    <th></th>
                                </tr>

                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.OrderItemId)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.MedId)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.MedicineName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Price)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Quantity)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Total)
                                        </td>

                                    </tr>
                                }

                            </table>
                        </div>
                    </form>
                  

                </div>
            </div>
        </div>
    </div>
</section> <!-- search-section end -->

@Html.Partial("_Footer")
