﻿@model IEnumerable<MedicineMonitoring.Models.Medicine>

@{ ViewBag.Title = "ViewEachBranchMedicine";
    Layout = null;}

@Html.Partial("_Header")
<h2>Branch Stock Details</h2>

<section class="banner-section bg_img" data-background="~/assets/images/banner.jpg">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-9">
                <div class="banner-content">
                    <h1 class="title">Each Branch Medicine Stocks</h1>
                    <p></p>
                </div>
            </div>
            <div class="col-md-5">

            </div>
        </div>
    </div>
</section>
<!-- banner-section end  -->

<section class="search-section pt-120 pb-120">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="car-search-area">


                    <form class="car-search-form">
                        <div class="row">

                           


                            <table class="table">
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.MedName)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Manufacturer)
                                    </th>

                                    <th>
                                        @Html.DisplayNameFor(model => model.ManufactureDate)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.ExpiryDate)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.cost)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.quantity)
                                    </th>
                                    <th></th>
                                </tr>

                                @foreach (var item in Model)
                                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.MedName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Manufacturer)
                        </td>


                        <td>
                            @Html.DisplayFor(modelItem => item.ManufactureDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ExpiryDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.cost)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.quantity)
                        </td>

                    </tr>
}

                            </table>
                            
                        </div>
                    </form>
                    <div>
                        @Html.ActionLink("Back to Brach Stocks", "BranchStock")
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> <!-- search-section end -->

@Html.Partial("_Footer")

