﻿@model IEnumerable<MedicineMonitoring.Models.Medicine>

@{ ViewBag.Title = "ViewEachBranchStock";
    Layout = null;}

@Html.Partial("_Header")
<h2>Branch Stock Details</h2>

<section class="banner-section bg_img" data-background="~/assets/images/banner.jpg">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-9">
                <div class="banner-content">
                    <h1 class="title"> Each Branch Medicine Stocks</h1>

                    <p></p>
                </div>
            </div>
            <div class="col-md-5">

            </div>
        </div>
    </div>
</section>
<!-- banner-section end  -->

<section class="search-section pt-120 pb-120">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="car-search-area">


                    <form class="car-search-form">
                        <div class="row">

                           
                            <table class="table">
                                <tr>


                                    <th>
                                        @Html.DisplayName("Medicine Type")
                                    </th>

                                    <th></th>
                                </tr>

                                @foreach (var item in Model)
                                {
                    <tr>

                        <td>
                            @Html.ActionLink(item.Disease, "ViewEachBranchMedicine", new { id = item.MedId })
                        </td>


                    </tr>
}

                            </table>
                        </div>
                    </form>
                    <div>
                        @Html.ActionLink("Back to Brach Stocks", "BranchStock")
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> <!-- search-section end -->

@Html.Partial("_Footer")
