﻿@model MedicineMonitoring.ViewModels.UserBranch

@{ ViewBag.Title = "BranchAdminRegistration";
    Layout = null; }

@Html.Partial("_Header")

<!-- banner-section start  -->
<section class="banner-section bg_img" data-background="~/assets/images/banner.jpg">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-9">
                <div class="banner-content">
                    <h1 class="title">Branch Admin Registration</h1>
                   <p></p>

                </div>
            </div>
            
            </div>
        
    </div>
</section>
<!-- banner-section end  -->

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <section class="search-section pt-120 pb-120">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="car-search-area">

                        <form class="car-search-form">

                            <div class="row">
                                <div class="col-lg-6 form-group">


                                    @Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = "control-label col-md-4" })

                                    @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })

                                </div>

                                <div class="col-lg-6 form-group">
                                    @Html.LabelFor(model => model.LastName, htmlAttributes: new { @class = "control-label col-md-4" })

                                    @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })

                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-6">
                                    @Html.LabelFor(model => model.DOB, htmlAttributes: new { @class = "control-label col-md-4" })

                                    @Html.EditorFor(model => model.DOB, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.DOB, "", new { @class = "text-danger" })

                                </div>

                                <div class="form-group col-md-6">
                                    @Html.LabelFor(model => model.Gender, htmlAttributes: new { @class = "control-label col-md-4" })

                                    @Html.EnumDropDownListFor(model => model.Gender, "Select Gender", new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Gender, "", new { @class = "text-danger" })

                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-4 form-group">
                                    @Html.Label("User Name", htmlAttributes: new { @class = "control-label col-lg-8" })

                                    @Html.EditorFor(model => model.UserId, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.UserId, "", new { @class = "text-danger" })

                                </div>
                                <div class="col-lg-4 form-group">
                                    @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-lg-4" })

                                    @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })

                                </div>




                                <div class="col-lg-4 form-group">
                                    @Html.LabelFor(model => model.ConfirmPassword, htmlAttributes: new { @class = "control-label col-lg-8" })

                                    @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })

                                </div>
                            </div>
                            <div class="row">

                                <div class="form-group col-md-6">
                                    @Html.LabelFor(model => model.SecretQuestions, htmlAttributes: new { @class = "control-label col-md-8" })

                                    @Html.EnumDropDownListFor(model => model.SecretQuestions, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.SecretQuestions, "", new { @class = "text-danger" })

                                </div>


                                <div class="col-lg-6 form-group">
                                    @Html.LabelFor(model => model.Answer, htmlAttributes: new { @class = "control-label col-md-4" })

                                    @Html.EditorFor(model => model.Answer, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Answer, "", new { @class = "text-danger" })

                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-6">
                                    @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-4" })

                                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                                </div>


                                <div class="col-lg-6 form-group">
                                    @Html.LabelFor(model => model.ContactNo, htmlAttributes: new { @class = "control-label col-md-4" })

                                    @Html.EditorFor(model => model.ContactNo, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.ContactNo, "", new { @class = "text-danger" })

                                </div>
                            </div>


                            <div class="row">

                                <div class="form-group col-md-4">
                                    @Html.LabelFor(model => model.BranchId, htmlAttributes: new { @class = "control-label col-md-8" })
                                   
                                        @Html.EditorFor(model => model.BranchId, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.BranchId, "", new { @class = "text-danger" })
                                  
                                </div>



                                <div class="col-lg-4 form-group">
                                    @Html.LabelFor(model => model.BranchName, htmlAttributes: new { @class = "control-label col-md-8" })
                                   
                                        @Html.EditorFor(model => model.BranchName, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.BranchName, "", new { @class = "text-danger" })
                                   
                                </div>

                                <div class="form-group col-md-4">
                                    @Html.LabelFor(model => model.BranchAddress, htmlAttributes: new { @class = "control-label col-md-8" })
                                   
                                        @Html.EditorFor(model => model.BranchAddress, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.BranchAddress, "", new { @class = "text-danger" })
                                   
                                </div>
                            </div>




                            <div class="row">

                                <button type="submit" class="cmn-btn">Submit</button>
                            </div>


                        </form>
                </div>
                </div>
            </div>
        </div>


    </section>
}

@Html.Partial("_Footer")
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

