﻿@model MedicineMonitoring.Models.MedicineRequest

@{
    ViewBag.Title = "MedicineRequestApproval";
    Layout = null; }

@Html.Partial("_Header")


<!-- banner-section start  -->
<section class="banner-section bg_img" data-background="~/assets/images/banner.jpg">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-9">
                <div class="banner-content">
                    <h1 class="title">Request Details</h1>

                    <p></p>
                </div>
            </div>
            <div class="col-md-5">

            </div>
        </div>
    </div>
</section>
<!-- banner-section end  -->
<!-- search-section start -->
<section class="search-section pt-120 pb-120">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="car-search-area">
                    <center>
                        @using (Html.BeginForm("MedicineRequestApproval", "MedicineRequest"))
                        {

            @Html.AntiForgeryToken()
                            <form class="car-search-form">
                                <div style="align-content:center">

                                    <table class="table">

                                        <tr>
                                            <td>
                                                @Html.DisplayNameFor(model => model.BranchId)
                                            </td>

                                            <td>
                                                @Html.TextBoxFor(modelItem => Model.BranchId, new { @readonly = "true" })
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>
                                                @Html.DisplayNameFor(model => model.MedName)

                                            </td>
                                            <td>
                                                @Html.TextBoxFor(modelItem => Model.MedName, new { @readonly = "true" })
                                                @Html.HiddenFor(modelItem => Model.RequestId)

                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                @Html.DisplayNameFor(model => model.Manufacturer)
                                            </td>

                                            <td>
                                                @Html.TextBoxFor(modelItem => Model.Manufacturer, new { @readonly = "true" })
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                @Html.DisplayNameFor(model => model.Disease)
                                            </td>
                                            <td>
                                                @Html.TextBoxFor(modelItem => Model.Disease, new { @readonly = "true" })
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                @Html.DisplayNameFor(model => model.quantity)
                                            </td>

                                            <td>
                                                @Html.TextBoxFor(modelItem => Model.quantity, new { @readonly = "true" })
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                @Html.DisplayNameFor(model => model.Approve)
                                            </td>
                                            <td>
                                                @Html.TextBoxFor(modelItem => Model.Approve, new { @readonly = "true" })
                                            </td>
                                        </tr>


                                        <tr>

                                            <td>
                                                <div class=" form-group col-md-8">
                                                    <button type="submit" class="cmn-btn">Approve</button>
                                                </div>
                                                <div class=" form-group col-md-8">
                                                    @Html.ActionLink("Back to List", "MedicineRequest")
                                                </div>

                                            </td>

                                        </tr>

                                    </table>
                                </div>
                            </form>}
                    </center>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- search-section end -->

@Html.Partial("_Footer")

