﻿@model IEnumerable<MedicineMonitoring.Models.MedicineRequest>

@{
    ViewBag.Title = "MedicineRequest";
    Layout = null; }

@Html.Partial("_Header")
<!-- banner-section start  -->
<section class="banner-section bg_img" data-background="~/assets/images/banner.jpg">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-9">
                <div class="banner-content">
                    <h1 class="title">Request List</h1>
                    <p></p>

                </div>
            </div>
            <div class="col-md-5">

            </div>
        </div>
    </div>
</section>
<!-- banner-section end  -->

<section class="search-section pt-120 pb-120">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="car-search-area">



                    <form class="car-search-form">


                        @{if (ViewBag.msg == 1)
                            {
                    <h4>No pendending Request!!!</h4> }
                            else
                            {



                    <div class="row">

                        <table class="table">
                            <tr>

                                <th>
                                    @Html.DisplayNameFor(model => model.RequestId)
                                </th>
                                <th>
                                    @Html.DisplayName("Action")
                                </th>
                            </tr>

                            @foreach (var item in Model)
                            {
                                <tr>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.RequestId)
                                    </td>
                                    <td>
                                        @Html.ActionLink("View Details", "MedicineRequestApproval", new { id = item.RequestId })
                                    </td>

                                </tr>

                            }

                        </table>
                    </div>
                                }
                            }
                    </form>

                </div>
            </div>
        </div>
    </div>
</section> <!-- search-section end -->

@Html.Partial("_Footer")

