﻿@model MedicineMonitoring.Models.MedicineRequest

@{
    ViewBag.Title = "RaiseMedicineRequestList";
    Layout = null; }

@Html.Partial("_Header")

<!-- banner-section start  -->
<section class="banner-section bg_img" data-background="~/assets/images/banner.jpg">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-9">
                <div class="banner-content">
                    <h1 class="title">Raise Medicine Request</h1>

                    <p></p>
                </div>
            </div>
            <div class="col-md-5">

            </div>
        </div>
    </div>
</section>
<!-- banner-section end  -->
<section class="search-section pt-120 pb-120">
    <!-- banner-section end  -->
    <!-- search-section start -->

    <div class="container">

        <div class="row">
            <div class="col-lg-12">

                <div class="car-search-area">

                    @{ if (ViewBag.Message != null)
                        {
                            <div>

                                <h4>@ViewBag.Message</h4>

                            </div> }
                        else
                        {
                            using (Html.BeginForm())
                            {
                                @Html.AntiForgeryToken()

                                <form class="car-search-form">
                                    <div class="row">
                                        <div class="col-lg-4 form-group">
                                            @Html.LabelFor(model => model.MedName, htmlAttributes: new { @class = "control-label col-md-8" })
                                           
                                                @Html.EditorFor(model => model.MedName, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.MedName, "", new { @class = "text-danger" })
                                           
                                        </div>

                                        <div class="col-lg-4 form-group">
                                            @Html.LabelFor(model => model.Manufacturer, htmlAttributes: new { @class = "control-label col-md-8" })
                                           
                                                @Html.EditorFor(model => model.Manufacturer, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.Manufacturer, "", new { @class = "text-danger" })
                                            
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-4 form-group">
                                            @Html.LabelFor(model => model.Disease, htmlAttributes: new { @class = "control-label col-md-8" })

                                            @Html.EditorFor(model => model.Disease, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.Disease, "", new { @class = "text-danger" })

                                        </div>

                                        <div class="col-lg-4 form-group">
                                            @Html.LabelFor(model => model.quantity, htmlAttributes: new { @class = "control-label col-md-8" })

                                            @Html.EditorFor(model => model.quantity, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.quantity, "", new { @class = "text-danger" })

                                        </div>

                                    </div>
                                    <div class="row">

                                        <div class="form-group">
                                            <div class="col-md-offset-2 col-md-10">
                                                <input type="submit" value="submit" class="cmn-btn" />
                                            </div>
                                        </div>
                                    </div>


                                    
                                        <br>



</form> }
                        } }
                </div>
            </div>
        </div>
    </div>
</section> <!-- search-section end -->


@Html.Partial("_Footer")


