﻿@model MedicineMonitoring.ViewModels.NewPassword

@{ ViewBag.Title = "PasswordUpdate";
    Layout = null; }

@Html.Partial("_Header")
<!-- banner-section start  -->
<section class="banner-section bg_img" data-background="~/assets/images/banner.jpg">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-9">
                <div class="banner-content">
                    <h1 class="title">Password Reset</h1>

                    <p></p>
                </div>
            </div>
            <div class="col-md-5">

            </div>
        </div>
    </div>
</section>
<!-- banner-section end  -->
<!-- search-section start -->
                    <section class="search-section pt-120 pb-120">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="car-search-area">

                                        @{if (ViewBag.msg != null)
                                            {
                                                                                <div>
                                                                                    <h3>@ViewBag.msg</h3>
                                                                                    @Html.ActionLink("Back to Login", "Login")
                                                                                </div>
                                                    }
                                                else
                                                {
                                                    using (Html.BeginForm())
                                                    {
                                    @Html.AntiForgeryToken()

                                                        <form class="car-search-form">
                                                            <div class="row">
                                                                <div class="col-lg-10 form-group">
                                                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                                                                    @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
                                                                    <div class="col-md-5">
                                                                        @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                                                                        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                                                                    </div>
                                                                </div>

                                                                <div class="form-group col-md-10">
                                                                    @Html.LabelFor(model => model.ConfirmPassword, htmlAttributes: new { @class = "control-label col-md-6" })
                                                                    <div class="col-md-5">
                                                                        @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control" } })
                                                                        @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <div class=" form-group col-md-8">
                                                                <button type="submit" class="cmn-btn">Submit</button>
                                                            </div>


                                                            <br>
                                                            <div>
                                                                @Html.ActionLink("Back to Login", "Login")
                                                            </div>
                                                        </form> }
                                                } }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section> <!-- search-section end -->}
           

@Html.Partial("_Footer")